<h1>Über das Projekt</h1>
<div class="content-wrapper">
  <div>
    <p>
      Dieses Projekt widmet sich der Digitalisierung des Senslerdeutschen
      Wörterbuchs von Christian Schmutz. Ziel ist es nicht, die gedruckte
      Ausgabe zu ersetzen, sondern sie durch digitale Funktionen sinnvoll zu
      erweitern und einem breiteren Publikum zugänglich zu machen.
    </p>
    <p>
      Zurzeit findest du in der digitalen Version die Einträge der ersten
      Auflage aus dem Jahr 2000. Weitere Wörter und Anpassungen aus den späteren
      Auflagen werden nach und nach hinzugefügt.
    </p>
    <p>
      Die digitale Umsetzung wurde mit Unterstützung der Firma Softcom
      realisiert. Die inhaltliche Betreuung und Weiterentwicklung des
      Wörterbuchs liegt bei Christian Schmutz, dem Autor der gedruckten Ausgabe.
    </p>
    <p>
      Das Projekt wird auf Microsoft Azure in der Schweiz gehostet. Es werden
      keine persönlichen Daten gesammelt oder gespeichert. Um das Wörterbuch zu
      verbessern und um einfacher Sponsoren zu finden, werden einfach
      Nutzungsstatisiken erfasst. Dafür wird Plausible verwendet, ein
      datenschutzfreundlicher Dienst aus Europa. Die Statistiken kannst du
      <a href="https://plausible.io/senslerdeutsches-woerterbuch.ch ">hier</a>
      selber einsehen.
    </p>
    <p>
      Darüber hinaus ist das Projekt Open Source und auf
      <a
        href="https://github.com/Softcom-Technologies-Organization/SenslerdeutschesWoerterbuch"
        >GitHub</a
      >
      öffentlich zugänglich. Aktive Mitarbeit ist herzlich willkommen! Ob durch
      Codebeiträge, Feedback oder neue Ideen - jede Unterstützung hilft, das
      Wörterbuch weiterzuentwickeln.
    </p>
  </div>
  <div class="image-content">
    <img src="Christian-Schmutz.jpg" alt="Christian Schmutz" />
    <p>Christian Schmutz (Foto: Charles Ellena)</p>
  </div>
</div>
