# To get started with Dependabot version updates, you'll need to specify which
# package ecosystems to update and where the package manifests are located.
# Please see the documentation for all configuration options:
# https://docs.github.com/code-security/dependabot/dependabot-version-updates/configuration-options-for-the-dependabot.yml-file

version: 2
updates:
  # npm packages
  - package-ecosystem: "npm"
    directories:
      - "/frontend"
      - "/e2e"
    schedule:
      interval: "weekly"
    groups:
      # grouping all Angular related packages together in a PR for minor and patch updates
      angular:
        patterns:
          - "@angular/*"
        update-types:
          - "minor"
          - "patch"
      # grouping all other npm packages together in a PR for patch updates
      npm-developer-updates:
        dependency-type: "development"
        update-types:
          - "minor"
          - "patch"
      npm-production-updates:
        dependency-type: "production"
        update-types:
          - "minor"
          - "patch"
      # major updates will happen in individual PRs

  # Python packages
  - package-ecosystem: "pip"
    directories:
      - "/backend"
      - "/parsing"
    schedule:
      interval: "weekly"
    groups:
      python-dependencies:
        update-types:
          - "minor"
          - "patch"
    # major updates will happen in individual PRs

  # Docker images
  - package-ecosystem: "docker"
    directories:
      - "/docker/backend"
      - "/docker/elasticsearch"
      - "/docker/proxy"
      - "/docker/e2e"
    schedule:
      interval: "weekly"
    groups:
      docker-images:
        update-types:
          - "minor"
          - "patch"
    # major updates will happen in individual PRs

  # Docker Compose
  - package-ecosystem: "docker-compose"
    directory: "/"
    schedule:
      interval: "weekly"
    groups:
      docker-compose:
        update-types:
          - "minor"
          - "patch"
    # major updates will happen in individual PRs

  # GitHub Actions
  - package-ecosystem: "github-actions"
    # Workflow files stored in the default location of `.github/workflows`
    # You don't need to specify `/.github/workflows` for `directory`. You can use `directory: "/"`.
    directory: "/"
    schedule:
      interval: "weekly"
    # group all GitHub Actions updates together in a single PR since they are usually small
    groups:
      github-actions:
        patterns:
          - "*"
