<header>
    <div class="content">
      <div class="header-bar ">
        <span routerLink="/" class="header-title">Senslerdeutsches Wörterbuch</span>
        <nav>
          <a mat-button routerLink="/about">Infos</a>
          <a mat-button routerLink="/feedback">Feedback</a>
          <a
            mat-button
            href="https://cricprint.ch/senslerdeutsches-woerterbuch/"
            target="_blank"
            rel="noopener"
            >Print Version</a
          >
        </nav>
      </div>
    </div>
</header>
<main>
  <div class="content">
    <router-outlet></router-outlet>
  </div>
</main>
<footer>
  <div class="content">
    <p class="supported-by">
      Mit Unterstützung von
      <a href="https://softcom.pro" target="_blank" rel="noopener">Softcom</a>
    </p>
    <a
      mat-button
      href="https://christianschmutz.ch/"
      target="_blank"
      rel="noopener"
      >christianschmutz.ch</a
    >
    <a
      mat-button
      href="https://github.com/Softcom-Technologies-Organization/SenslerdeutschesWoerterbuch?tab=contributing-ov-file"
      target="_blank"
      rel="noopener"
    >
      <mat-icon
        class="github"
        svgIcon="github"
        aria-label="GitHub icon"
      ></mat-icon>
      <span> Mithelfen auf GitHub </span>
    </a>
  </div>
</footer>
