<header>
  <mat-toolbar>
    <a routerLink="/">
      <img src="favicon-32x32.png" alt="Senslerdeutsches Wörterbuch" class="logo" />
    </a>
    <a mat-button routerLink="/about">Infos</a>
    <a mat-button routerLink="/feedback">Fragen?</a>
    <a mat-button href="https://cricprint.ch/senslerdeutsches-woerterbuch/" target="_blank" rel="noopener">Buch</a>
    <div class="spacer"></div>
    <a mat-button	
      href="https://github.com/Softcom-Technologies-Organization/SenslerdeutschesWoerterbuch?tab=contributing-ov-file"
      target="_blank" rel="noopener">
      <mat-icon svgIcon="github" class="toolbar-icon" aria-label="GitHub icon"></mat-icon>
      <span>Häḷffe</span>
    </a>
  </mat-toolbar>
</header>
<main>
  <div class="content">
    <router-outlet></router-outlet>
  </div>
</main>
<footer>
  <div class="content">
    <p>
      Ein Projekt von <a href="https://christianschmutz.ch" target="_blank" rel="noopener">Christian Schmutz</a>, mit
      technischer Unterstützung von <a href="https://softcom.pro" target="_blank" rel="noopener">Softcom Technologies
        SA</a>.
    </p>
  </div>
</footer>