@use "../styles/variables";

:host {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh; /* Full viewport height */
}

header {
  display: grid;
  span {
    cursor: pointer;
  }

  a {
    padding-left: 0.5rem;
  }
}

.spacer {
  flex: 1 1 auto;
}

.logo {
  padding-top: 0.5rem;
  height: 100%;
  width: auto;
}

main {
  display: grid;
  padding: 1rem;
}

footer {
  display: grid;
  padding: 1rem;
  background: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
}

.content {
  justify-self: center;
  justify-content: center;
  max-width: variables.$max-width;
  width: 100%;
  hyphens: auto;
}

footer .content {
  display: grid;
  grid-template-columns: auto auto auto;
  align-items: center;
  justify-content: space-between;
}

mat-icon.github {
  fill: #24292f;
}

@media (prefers-color-scheme: dark) {
  mat-icon.github {
    fill: #fff;
  }
}
