name: senslerdeutsches-woerterbuch

services:
  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:8.17.3
    environment:
      - ELASTIC_PASSWORD=${ELASTIC_ADMIN_PASSWORD}
      - xpack.security.enabled=true
      - xpack.security.http.ssl.enabled=false
      - xpack.security.transport.ssl.enabled=false
      - discovery.type=single-node # Required to disable SSL while keeping security enabled
    volumes:
      - elasticsearch-data:/usr/share/elasticsearch/data # Persist user, role and indices locally
    networks:
      - sw-network

  backend:
    build:
      context: .
      dockerfile: docker/backend/Dockerfile
    env_file:
      - .env
    environment:
      - ELASTIC_URL=http://elasticsearch:9200
    ports:
      - "8001:8000"
    networks:
      - sw-network

  proxy:
    build:
      context: .
      dockerfile: docker/proxy/Dockerfile
    environment:
      - ELASTICSEARCH_URL=http://elasticsearch:9200
    ports:
      - "${PROXY_PORT}:80"
    volumes:
      - ./docker/proxy/logs/nginx:/var/log/nginx
    networks:
      - sw-network

  e2e:
    build:
      context: .
      dockerfile: docker/e2e/Dockerfile
    environment:
      - FRONTEND_URL=${PROXY_URL}
    volumes:
      - ./e2e/playwright-report:/app/playwright-report
      - ./e2e/test-results:/app/test-results
    networks:
      - sw-network

networks:
  sw-network:
    driver: bridge

volumes:
  elasticsearch-data:
