@use "@angular/material" as mat;

div.results {
  padding-bottom: 1rem;
}

mat-card {
  margin-top: 0.5rem;
  padding: 0.5rem;
}

mat-divider {
  margin: 0.5rem 1rem;
}

.result-link {
  color: var(--mat-sys-primary);
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}
