// from Angular Material Palette mat.$red-palette see styles.scss where the palette is used
$red-neutral-90: #f5ddda;
$normal-black: #000000;
$gray: #c4c8cb;
$light-gray: #e2e3e5;
$very-light-gray: #f8f9fa;
$gray-80: #343a40;
$dark-gray: #495057;
$darker-gray: #343a40;
$very-dark-gray: #2b2f32;