.normal {
  font-size: 1rem;
}

.remark {
  font-size: 0.8rem;
}

.special-char {
  font-size: 1rem;
}

.small-char {
  font-size: 0.7rem;
}

.font-italic {
  font-style: italic;
}

.font-bold {
  font-weight: bold;
}

.formatted-text {
  display: inline;
}
