mat-divider {
  margin: 1.5rem 0;
}

.pronunciations {
  .pronunciation {
    display: flex;
    align-items: center;
    gap: 0.75rem;
    margin-top: 0.5rem;

    .pronunciation-label {
      min-width: 8rem;
      font-style: italic;
    }

    audio {
      max-width: 100%;
    }
  }
}
