:host {
  display: grid;
}

mat-form-field {
  width: 100%;
}

figure.art-showcase {
  display: grid;
  justify-self: center;
  max-width: 60%;

  img {
    max-width: 100%;
  }

  figcaption {
    font-style: italic;
    text-align: right;
    font-size: small;
  }
}

mat-card {
  margin-top: 0.5rem;
}

.sponsored {
  font-style: italic;
}