@use '@angular/material' as mat;
@use 'col';

html {
  color-scheme: light dark;
  @include mat.theme((color: mat.$red-palette,
      typography: 'Noto Sans',
      density: 0));
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Noto Sans', "Helvetica Neue", sans-serif;
}

p a,
li a,
mat-card-title a,
mat-card-content a {
  color: var(--mat-sys-primary);
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}


.error-container {
  margin-bottom: 1rem;
  border: light-dark(col.$gray, col.$dark-gray);
  background-color: light-dark(col.$light-gray, col.$darker-gray);
  color: light-dark(col.$very-dark-gray, col.$very-light-gray);
  border-radius: 4px;
  padding: 16px;
}