name: Angular tests

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]
  merge_group:

jobs:
  angular-tests:
    runs-on: ubuntu-latest
    timeout-minutes: 5
    defaults:
      run:
        working-directory: ./frontend

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version-file: ".nvmrc"
          cache: "npm"
          cache-dependency-path: |
            ./frontend/package-lock.json

      - name: Install frontend dependencies
        run: npm ci

      - name: Setup Chrome
        uses: browser-actions/setup-chrome@v2

      - name: Run Angular Unit Tests
        run: npx ng test --no-watch --no-progress --browsers=ChromeHeadless
